body {
	margin: 0;
	font-family: Helvetica;
	background: rgba(0,0,0,0.05);
}

h1 {
	font-weight: 100;
}
#logo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}
